Multipart Request handling in do_GET_Document is not correct

Problem: If a request to GET a document does not include an Accept header then the GET call will fail with a 404 Not Found!

Why this bug exists: The proximate cause of the bug is the getMultipartRequestType in Router.java method which contains the following code:
```Java
        String accept = connection.getRequestProperty("Accept");
        if(accept.startsWith("multipart/")) {
           ...
```
So if there is no Accept header then accept is set to null and accept.startsWith trips a null pointer exception which when all the catch handlers get involved turns into a 404. There are actually two bugs here.

BUG 1 - CHECK FOR NULL!
BUG 2 - The catch handlers are screwed up. The response code should not be a 404. It should more likely be a 500. I filed this as #99.

But honestly there is a larger problem here. do_GET_Document's logic for handling accept headers is not HTTP compliant.

The existing code seems to think that the Accept header is mandatory. It is not. If an Accept header is not included then the server is free to return absolutely anything it wants. To quote from section 14.1 of RFC 2616: "If no Accept header field is present, then it is assumed that the client accepts all media types."

Where things get more complicated is if the Accept header is present. In that case the server is required to check if the content-type it is going to return is compliant with the Accept header sent in the request. Again, per section 14.1 of RFC 2616: " If an Accept header field is present, and if the server cannot send a response which is acceptable according to the combined Accept field value, then the server SHOULD send a 406 (not acceptable) response. "

The current logic doesn't check anything useful about the accept header and so doesn't see if the response it wants to send is acceptable according to the accept header.

BUG 3 - do_GET_Document does not properly honor the accept header

So I would make the following requests:
Request 1 - Please quickly change getMultipartRequestType so that if there is no Accept header then the method returns null. This still isn't correct but at least it does less damage.

Request 2 - Parsing and handling the accept header is a royal pain in the rear. I did some looking and did not find any 'off the shelf' Java libraries to handle it. So at the risk of incurring the rightful wrath of the HTTP gods maybe we can consider a slightly nasty approach which is that we assume that if there is no Accept header then the response should be application/json. If there is an accept header then minimally we check if it's application/json, multipart/mixed or text/plain and act accordingly. This is still wrong since it's perfectly legal to include multiple accepts and section 14.1 defines what to do. But at least it's a start.

Request 3 - Please honor the accept header. There has to be a resolution library somewhere!

Currently CBL Android/Java does not  support to send multi-part response. We need to implement it.
However, with current code base, the reported issue no longer occurs. So I will close this ticket.